* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
  }
  
a{
    text-decoration: none;
}
  
.center{
    display: flex;
    max-width: 1100px;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 2%;
    flex-wrap: wrap;
}
  
.menu{
    width: 80%;
    text-align: right;
}
  
.menu a{
    color:rgba(124, 1, 1, 0.829);
    font-size: 16px;
    margin-right: 20px;
}
  
.menu a:hover{
    color: #fc0202;
}
  
header{
    padding: 20px 0;
    background: #1d1e20;
}
  
.logo{
    color: white;
    font-size: 18px;
}

.container{
    background-image: url('https://wallpapertag.com/wallpaper/full/f/7/7/500608-widescreen-dark-side-of-the-moon-wallpaper-1920x1080-1080p.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0;
}

.title{
    width: 100%;
    text-align: center;
    margin: 30px 0;
}

.title h2{
    color: rgba(124, 1, 1, 0.829);
    font-size: 40px;
}

.title p{
    color: gray;
    font-size: 20px;
    margin: 10px 0;
}

.packet{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.obj{
    background: #1d1e20;
    width: 23%;
    margin-right: 2%;
    padding: 50px 20px;
    border-radius: 5%;
}

.obj p{
    color: gray;
    margin: 10px 0;
    line-height: 30px;
}

.obj h2{
    color:rgba(124, 1, 1, 0.829);
}

@media screen and (max-width: 768px){
    .obj{
        width: 100%;
        margin-bottom: 20px;
    }
}