* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
  }
  
a{
    text-decoration: none;
}
  
.conj-header{
    display: flex;
    max-width: 1100px;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 2%;
}
  
.menu{
    width: 80%;
    text-align: right;
}
  
.menu a{
    color: #ff0000;
    font-size: 16px;
    margin-right: 30px;
}
  
.menu a:hover{
    color: #ff6666;
}
  
header{
    padding: 20px 0;
    background: #1d1e20;
}
  
.logo{
    color: white;
    font-size: 18px;
}